<!-- ********************************************************
                           C# Code
********************************************************* -->

@page "/home"
@using SeatBookingAPI.Models
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject IHttpClientFactory ClientFactory
@inject NavigationManager navigationManager
@inject IJSRuntime JS
@rendermode InteractiveServer

@code {
    private HttpClient client = new HttpClient();
    private DotNetObjectReference<Home>? dotNetObjectReference;

    private User currentUser = new User();
    private Office currentOffice = new Office();
    private Seat selectedSeat = new Seat();
    private IEnumerable<Seat> seats = Array.Empty<Seat>();
    private IEnumerable<Office> offices = Array.Empty<Office>();

    private bool seatModalOpen = false;
    private bool loading = true;
    private string layoutContent = "";
    private long displayedOfficeId = 0;

    //ElementReference layoutContainer;
    //ElementReference layout;

    protected override void OnInitialized()
    {
        client = ClientFactory.CreateClient("API");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Set the DotNetReferenceObject, to be able to call C# functions from JS
        if (firstRender)
        {
            dotNetObjectReference = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("setDotNetReference", dotNetObjectReference);
            await GetUser();
        }
    }

    private async Task GetUser ()
    {
        var data = await ProtectedSessionStore.GetAsync<User>("userData");
        if(data.Value != null) {
            if (data.Value.UserId != 0) {
                currentUser = data.Value;
                displayedOfficeId = currentUser.OfficeId;
                await GetOffice(currentUser.OfficeId);
                await GetOffices();
                return;
            }
        }
        navigationManager.NavigateTo("/");
    }

    private async Task GetOffice(long officeId)
    {
        HttpResponseMessage response = client.GetAsync("api/offices/" + officeId).Result;
        if(response.IsSuccessStatusCode) {
            currentOffice = await response.Content.ReadFromJsonAsync<Office>() ?? new Office();
            if (currentOffice.OfficeId != 0)
            {
                if (currentOffice.Seats != null) seats = currentOffice.Seats;
                //await JS.InvokeVoidAsync("panZoomLayout", layoutContainer, layout);
                SetupLayout();
            }
        }
    }

    private async Task GetOffices()
    {
        offices = await client.GetFromJsonAsync<IEnumerable<Office>>("/api/offices") ?? Enumerable.Empty<Office>(); ;
        StateHasChanged();
    }

    private async Task ChangeOffice(ChangeEventArgs e)
    {
        await GetOffice(Convert.ToInt64(e.Value));
    }

    // Adds necessary onclick functions and classes to the seats
    private void SetupLayout ()
    {
        if(currentOffice.Layout != null)
        {
            layoutContent = currentOffice.Layout!;
            string allSeats = "";
            foreach (Seat seat in seats)
            {
                if (seat.Layout != null) {
                    string seatContent = seat.Layout;
                    if (seatContent != null)
                    {
                        seatContent = seatContent.Replace("#", "onclick='chooseSeat(" + seat.SeatId + ");' b-oxkldxxbnv tabindex='0' style='pointer-events: auto;'"); // The last line is to get the CSS to recognize the classes
                        if (seat.State == 0) seatContent = seatContent.Replace("seat", "seat available");
                        else if (seat.State == 1 && seat.UserId == currentUser.UserId) seatContent = seatContent.Replace("seat", "seat booked-by-user");
                        else seatContent = seatContent.Replace("seat", "seat booked");
                    }
                    allSeats += seatContent;
                }
            }
            layoutContent = layoutContent.Replace("#", allSeats);
            loading = false;
            StateHasChanged();
        }
    }

    // Called from JS
    // Opens modal with the correct seat information
    [JSInvokable("ChooseSeat")]
    public void ChooseSeat(long seatId)
    {
        var seat = seats.FirstOrDefault(s => s.SeatId == seatId);
        if(seat != null)
        {
            selectedSeat = seat;
            seatModalOpen = true;
            StateHasChanged();
        }
    }

    // Updates the seat in the DB, if it has been booked or cancelled
    private async Task BookSeat(bool isBooking)
    {
        loading = true;

        int state = 0; // Unbooking seat
        long userId = 0;
        if (isBooking) { // Booking seat
            state = 1; 
            userId = currentUser.UserId;
        }

        SeatDTO seatDTO = new() {
            UserId = userId,
            State = state,
        };
        await client.PutAsJsonAsync("/api/seats/" + selectedSeat.SeatId, seatDTO);

        seatModalOpen = false;
        await GetOffice(currentUser.OfficeId); // TODO: This can be done better?
        selectedSeat = new Seat();
        SetupLayout();

        loading = false;
    }

    public bool isDisabled()
    {
        if (selectedSeat.State == 0) return false;
        else return true;
    }

    public bool isSelected(long officeId)
    {
        if (officeId == currentOffice.OfficeId) return true;
        else return false;
    }

    public void Dispose()
    {
        dotNetObjectReference?.Dispose();
    }
}

<!-- ********************************************************
                        JS Script
********************************************************* -->
<!-- Unfortunately this is necessary, since Blazor isn't able to edit the DOM -->
<script>
    /* Holds the reference to the c#, to be able to instantiate non-static methods.
     * Might have issues with garbage collection.
     * I have not seen any signs that the size of the application keeps increasing, but it's worth keeping in mind.
    */
    var dotNetObjectReference;
    function setDotNetReference(dotNetRef) {
        dotNetObjectReference = dotNetRef;
    }

    // Call .NET function to handle the information once klicking the seat
    function chooseSeat(seatId) {
        console.log("clicked seat");
        dotNetObjectReference.invokeMethodAsync('ChooseSeat', seatId);
    }

    /* Takes care of panning and zooming the office layout. */
    
    var deltaX = 0;
    var deltaY = 0;
    var scale = 1.0;

    var drag = {
        x: 0,
        y: 0,
        state: false
    };

    var delta = {
        x: 0,
        y: 0
    };

    function startDrag(e) {
        if(!drag.state) {
            drag.x = e.pageX;
            drag.y = e.pageY;
            drag.state = true;
        }
    }

    function dragging(e) {
        if (scale == 1) {
            e.target.style.left = '0px';
            e.target.style.top = '0px';
        } else {
            if (drag.state) {
                delta.x = e.pageX - drag.x;
                delta.y = e.pageY - drag.y;

                var curOffsetLeft = e.target.offsetLeft;
                var curOffsetTop = e.target.offsetTop;

                e.target.style.left = (curOffsetLeft + delta.x) + 'px';
                e.target.style.top = (curOffsetTop + delta.y) + 'px';

                drag.x = e.pageX;
                drag.y = e.pageY;
            }
        }
    }

    window.addEventListener('mouseup', function () {
        if (drag.state) drag.state = false;
    })

    function zoom(event) {
        event.preventDefault();
        scale += event.deltaY * -0.01;
        scale = Math.min(Math.max(1, scale), 4);
        event.target.style.transform = 'scale(' + scale + ')';
    }





    /* Försök 2

    var isDown = false;
    var offset = { x: 0, y: 0 };
    var scale = 1;
    var matrix = new DOMMatrix();

    window.addEventListener("mouseup", function () {
        isDown = false;
        console.log(isDown);
    })

    function startDrag(event) {
        isDown = true;
        offset = { x: event.offsetX, y: event.offsetY };
        console.log(isDown, offset);
    }

    function dragging(event) {
        if (isDown) {
            //if()

            var transform = event.target.style.getPropertyValue('transform');
            console.log(transform);

            //return;

            let tx = event.offsetX - offset.x;
            let ty = event.offsetY - offset.y;
            offset = { x: event.offsetX, y: event.offsetY };
            console.log(offset);
            
            
            event.target.style.transform = 'translate(' + tx + 'px, ' + ty + 'px)';
            
            //matrix.preMultiplySelf(new DOMMatrix().translateSelf(tx, ty));
            //console.log(matrix.toString());

            //event.target.style.transform = matrix.toString();
        }
    }

    function zoom(event) {
        event.preventDefault();
        scale += event.deltaY * -0.01;
        scale = Math.min(Math.max(1, scale), 4);
        event.target.style.transform = 'scale('+ scale +')';
        console.log(scale);
    }*/

    //
    /* Försök 1
    function panZoomLayout() {        
        const layout = document.getElementById('layout');
        const viewPort = document.getElementById('layout-content');

        let drag = false;
        let offset = { x: 0, y: 0 };
        let factor = .1;
        const matrix = new DOMMatrix();

        if (layout == null) {
            console.log(layout);
            console.log('null');
            return;
        }

        // Start drag
        layout.addEventListener('pointerdown', function (event) {
            drag = true;
            offset = { x: event.offsetX, y: event.offsetY };
        });

        // Dragging
        layout.addEventListener('pointermove', function (event) {
            if (drag) {
                let tx = event.offsetX - offset.x;
                let ty = event.offsetY - offset.y;
                offset = { x: event.offsetX, y: event.offsetY };
                matrix.preMultiplySelf(new DOMMatrix()
                    .translateSelf(tx, ty));
                viewPort.style.transform = matrix.toString();
            }
        });

        // Stop drag
        layout.addEventListener('pointerup', function (event) {
            drag = false;
        });

        // Zoom
    }*/
</script>

<!-- ********************************************************
                        HTML/Razor
********************************************************* -->

<PageTitle>Home</PageTitle>

<div class="container">
    @if (@loading) {
        <LoadingSymbol></LoadingSymbol>
    } else {
        <p>Welcome @currentUser.Name</p>
        @if (offices.Count() != 0)
        {
            <div>
                <select value="@displayedOfficeId" @onchange="ChangeOffice">
                    <optgroup label="Offices">
                        @foreach (Office office in offices)
                        {
                            <option value="@office.OfficeId">@office.Name</option>
                        }
                    </optgroup>
                </select>
            </div>
        }
        @if (layoutContent != "")
        {
            <div class="layout-parent" style="position: relative; overflow: hidden; height: 600px">
                <div id="move-object" style="position:absolute; top: 20px; left: 20px; width:700px; height:500px; background-color: blue;" onmousedown="startDrag(event)" onmousemove="dragging(event)" onwheel="zoom(event)">
                    @((MarkupString)layoutContent)
                </div>

                
            </div>
        }
        @if (@seatModalOpen)
        {
            <section class="modal">
                <div>
                    <h2 class="container-heading">Seat Options</h2>
                    <div class="modal-content">
                        <p>
                            Current status:
                            @if (selectedSeat.State == 0)
                            {
                                <span>Avaliable</span>
                            }
                            else
                            {
                                <span>Booked</span>
                            }
                        </p>
                        @if (selectedSeat.UserId == currentUser.UserId)
                        {
                            <button @onclick="() => BookSeat(false)" class="btn">Deselect Seat</button>
                        }
                        else
                        {
                            <button @onclick="() => BookSeat(true)" disabled=@isDisabled() class="btn">Select Seat</button>
                        }

                        <button @onclick="() => seatModalOpen = false" class="btn">Close</button>
                    </div>
                </div>
            </section>
        }
    }
</div>

